
/* ----------------------------------------------------------------
     job list
-----------------------------------------------------------------*/

#list-job {
}

#list-job .featured-item {
    padding: 20px;
    margin-bottom: 20px;
    margin-left: -20px;
    margin-right: -20px;
    border: 1px solid #f0f0f0;
    transition: background 0.5s ease-in-out;
}

#list-job .featured-item:hover {
    background: #f0f0f0;
}

#list-job .featured-item .icon img {
    width: 100%;
    vertical-align: middle;
}

#list-job .featured-item .label {
    color: #999;
    width: 100px;
    display: inline-block;
    text-align: left;
    font-weight: 300;
}

#list-job .position-name .text {
    font-size: 24px;
    color: #ec6719
}

#list-job .company-name .text {
    font-size: 16px;
    color: #08c
}

